# **OBJECTIVES:**

- ### *To Predict student drop-offs or engagement levels based on this historical data to helps the company take proactive measures to improve retention and participation*

#### **Importing the necessary libraries**

In [143]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings as wa
wa.filterwarnings("ignore")

#### **Loading the dataset**

In [144]:
df = pd.read_csv("SLU-Opportunity-Wise-Data.csv")

#### **Viewing the dataset head**

In [145]:
df.head()

,Learner SignUp DateTime,Opportunity Id,Opportunity Name,Opportunity Category,Opportunity End Date,First Name,Date of Birth,Gender,Country,Institution Name,Current/Intended Major,Entry created at,Status Description,Status Code,Apply Date,Opportunity Start Date
0,06/14/2023 12:30:35,00000000-0GN2-A0AY-7XK8-C5FZPP,Career Essentials: Getting Started with Your P...,Course,06/29/2024 18:52:39,Faria,01/12/2001,Female,Pakistan,Nwihs,Radiology,03/11/2024 12:01:41,Started,1080,06/14/2023 12:36:09,11/03/2022 18:30:39
1,05/01/2023 05:29:16,00000000-0GN2-A0AY-7XK8-C5FZPP,Career Essentials: Getting Started with Your P...,Course,06/29/2024 18:52:39,Poojitha,08/16/2000,Female,India,SAINT LOUIS,Information Systems,03/11/2024 12:01:41,Started,1080,05/01/2023 06:08:21,11/03/2022 18:30:39
2,04/09/2023 20:35:08,00000000-0GN2-A0AY-7XK8-C5FZPP,Career Essentials: Getting Started with Your P...,Course,06/29/2024 18:52:39,Emmanuel,01/27/2002,Male,United States,Illinois Institute of Technology,Computer Science,03/11/2024 12:01:41,Started,1080,05/11/2023 1085640:21:29,11/03/2022 18:30:39
3,08/29/2023 05:20:03,00000000-0GN2-A0AY-7XK8-C5FZPP,Career Essentials: Getting Started with Your P...,Course,06/29/2024 18:52:39,Amrutha Varshini,11/01/1999,Female,United States,Saint Louis University,Information Systems,03/11/2024 12:01:41,Team Allocated,1070,10/09/2023 22:02:42,11/03/2022 18:30:39
4,01/06/2023 15:26:36,00000000-0GN2-A0AY-7XK8-C5FZPP,Career Essentials: Getting Started with Your P...,Course,06/29/2024 18:52:39,Vinay Varshith,04/19/2000,Male,United States,Saint Louis University,Computer Science,03/11/2024 12:01:41,Started,1080,01/06/2023 15:40:10,11/03/2022 18:30:39

### **Counting the number of columns in the dataset**

In [146]:
count_columns = df.shape[1]
print('Number of columns in the dataset is:',count_columns)

Number of columns in the dataset is: 16

#### **Counting the number of rows in the dataset**

In [147]:
count_rows = df.shape[0]
print('Number of rows in the dataset is:',count_rows)

Number of rows in the dataset is: 8558

#### **Finding the datatypes in the dataset**

In [148]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8558 entries, 0 to 8557
Data columns (total 16 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Learner SignUp DateTime  8558 non-null   object
 1   Opportunity Id           8558 non-null   object
 2   Opportunity Name         8558 non-null   object
 3   Opportunity Category     8558 non-null   object
 4   Opportunity End Date     8558 non-null   object
 5   First Name               8558 non-null   object
 6   Date of Birth            8558 non-null   object
 7   Gender                   8558 non-null   object
 8   Country                  8558 non-null   object
 9   Institution Name         8553 non-null   object
 10  Current/Intended Major   8553 non-null   object
 11  Entry created at         8558 non-null   object
 12  Status Description       8558 non-null   object
 13  Status Code              8558 non-null   int64
 14  Apply Date               8558 non-null   object
 15  Opportunity Start Date   4764 non-null   object
dtypes: int64(1), object(15)
memory usage: 1.0+ MB
None

#### **Viewing the last 10 rows of the dataset**

In [149]:
df.tail(10)

,Learner SignUp DateTime,Opportunity Id,Opportunity Name,Opportunity Category,Opportunity End Date,First Name,Date of Birth,Gender,Country,Institution Name,Current/Intended Major,Entry created at,Status Description,Status Code,Apply Date,Opportunity Start Date
8548,02/27/2024 24:19:05,00000000-10GQ-RJHT-3G4S-BKGBY1,Freelance Mastery workshop,Event,03/08/2024 11:30:00,Kofi,10/26/1990,Male,Ghana,College of Health and Well-Being Kintampo,Medical Laboratory Science,03/11/2024 12:03:14,Team Allocated,1070,02/27/2024 24:49:24,03/08/2024 14:00:00
8549,04/30/2023 18:22:02,00000000-10GQ-RJHT-3G4S-BKGBY1,Freelance Mastery workshop,Event,03/08/2024 11:30:00,Subhash Chandra,05/12/2001,Male,India,Vishnu Institute of Technology,Information Systems,03/11/2024 12:03:14,Team Allocated,1070,02/12/2024 20:57:02,03/08/2024 14:00:00
8550,12/27/2023 23:52:13,00000000-10GQ-RJHT-3G4S-BKGBY1,Freelance Mastery workshop,Event,03/08/2024 11:30:00,Saikrishna,01/18/1999,Male,United States,Saint Louis university,Information Systems,03/11/2024 12:03:14,Team Allocated,1070,03/08/2024 07:25:42,03/08/2024 14:00:00
8551,07/09/2023 06:53:09,00000000-10GQ-RJHT-3G4S-BKGBY1,Freelance Mastery workshop,Event,03/08/2024 11:30:00,Lalith Adithya Reddy,09/17/2000,Male,United States,Saint Louis University,Computer Science,03/11/2024 12:03:14,Applied,1010,02/09/2024 16:57:57,NaN
8552,01/06/2024 17:04:30,00000000-10GQ-RJHT-3G4S-BKGBY1,Freelance Mastery workshop,Event,03/08/2024 11:30:00,Kaustubh,07/06/2003,Male,India,P. V. G Nashik,Artificial Intelligence and Data Science,03/11/2024 12:03:14,Team Allocated,1070,02/12/2024 03:01:56,03/08/2024 14:00:00
8553,03/05/2024 16:39:21,00000000-10GQ-RJHT-3G4S-BKGBY1,Freelance Mastery workshop,Event,03/08/2024 11:30:00,Selam,10/14/2006,Female,Ethiopia,Lideta Catholic Cathedral School,Computer Science,03/11/2024 12:03:14,Team Allocated,1070,03/05/2024 17:10:41,03/08/2024 14:00:00
8554,03/06/2024 15:58:47,00000000-10GQ-RJHT-3G4S-BKGBY1,Freelance Mastery workshop,Event,03/08/2024 11:30:00,Gowri Sailesh,05/18/1999,Male,United States,SAINT LOUIS UNIVERSITY,Information Systems,03/11/2024 12:03:14,Team Allocated,1070,03/06/2024 18:22:11,03/08/2024 14:00:00
8555,02/29/2024 15:02:31,00000000-10GQ-RJHT-3G4S-BKGBY1,Freelance Mastery workshop,Event,03/08/2024 11:30:00,Abiola,03/16/1999,Male,Nigeria,Tai Solarin university of Education,Political Science,03/11/2024 12:03:14,Team Allocated,1070,02/29/2024 15:10:06,03/08/2024 14:00:00
8556,12/23/2023 03:53:12,00000000-10GQ-RJHT-3G4S-BKGBY1,Freelance Mastery workshop,Event,03/08/2024 11:30:00,venumadhavi,06/05/1997,Female,United States,Saint Louis University,Information Systems,03/11/2024 12:03:14,Team Allocated,1070,02/27/2024 06:48:47,03/08/2024 14:00:00
8557,06/01/2023 13:22:01,00000000-10GQ-RJHT-3G4S-BKGBY1,Freelance Mastery workshop,Event,03/08/2024 11:30:00,Prashanth Reddy,11/30/2000,Male,India,Saint Louis University,Artificial Intelligence,03/11/2024 12:03:14,Team Allocated,1070,02/16/2024 16:33:00,03/08/2024 14:00:00

## **Data cleaning**
#### **Since dropping rows with NaN values in specific columns removes almost half of the dataset I choose to replace the rows with NaN values with the next value in that specific column**

In [150]:
df = df.fillna(method='bfill')
print("After dropping null values, the number of rows is:", df.shape[0])

After dropping null values, the number of rows is: 8558

In [151]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8558 entries, 0 to 8557
Data columns (total 16 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Learner SignUp DateTime  8558 non-null   object
 1   Opportunity Id           8558 non-null   object
 2   Opportunity Name         8558 non-null   object
 3   Opportunity Category     8558 non-null   object
 4   Opportunity End Date     8558 non-null   object
 5   First Name               8558 non-null   object
 6   Date of Birth            8558 non-null   object
 7   Gender                   8558 non-null   object
 8   Country                  8558 non-null   object
 9   Institution Name         8558 non-null   object
 10  Current/Intended Major   8558 non-null   object
 11  Entry created at         8558 non-null   object
 12  Status Description       8558 non-null   object
 13  Status Code              8558 non-null   int64
 14  Apply Date               8558 non-null   object
 15  Opportunity Start Date   8558 non-null   object
dtypes: int64(1), object(15)
memory usage: 1.0+ MB
None

In [152]:
df.tail(10)

,Learner SignUp DateTime,Opportunity Id,Opportunity Name,Opportunity Category,Opportunity End Date,First Name,Date of Birth,Gender,Country,Institution Name,Current/Intended Major,Entry created at,Status Description,Status Code,Apply Date,Opportunity Start Date
8548,02/27/2024 24:19:05,00000000-10GQ-RJHT-3G4S-BKGBY1,Freelance Mastery workshop,Event,03/08/2024 11:30:00,Kofi,10/26/1990,Male,Ghana,College of Health and Well-Being Kintampo,Medical Laboratory Science,03/11/2024 12:03:14,Team Allocated,1070,02/27/2024 24:49:24,03/08/2024 14:00:00
8549,04/30/2023 18:22:02,00000000-10GQ-RJHT-3G4S-BKGBY1,Freelance Mastery workshop,Event,03/08/2024 11:30:00,Subhash Chandra,05/12/2001,Male,India,Vishnu Institute of Technology,Information Systems,03/11/2024 12:03:14,Team Allocated,1070,02/12/2024 20:57:02,03/08/2024 14:00:00
8550,12/27/2023 23:52:13,00000000-10GQ-RJHT-3G4S-BKGBY1,Freelance Mastery workshop,Event,03/08/2024 11:30:00,Saikrishna,01/18/1999,Male,United States,Saint Louis university,Information Systems,03/11/2024 12:03:14,Team Allocated,1070,03/08/2024 07:25:42,03/08/2024 14:00:00
8551,07/09/2023 06:53:09,00000000-10GQ-RJHT-3G4S-BKGBY1,Freelance Mastery workshop,Event,03/08/2024 11:30:00,Lalith Adithya Reddy,09/17/2000,Male,United States,Saint Louis University,Computer Science,03/11/2024 12:03:14,Applied,1010,02/09/2024 16:57:57,03/08/2024 14:00:00
8552,01/06/2024 17:04:30,00000000-10GQ-RJHT-3G4S-BKGBY1,Freelance Mastery workshop,Event,03/08/2024 11:30:00,Kaustubh,07/06/2003,Male,India,P. V. G Nashik,Artificial Intelligence and Data Science,03/11/2024 12:03:14,Team Allocated,1070,02/12/2024 03:01:56,03/08/2024 14:00:00
8553,03/05/2024 16:39:21,00000000-10GQ-RJHT-3G4S-BKGBY1,Freelance Mastery workshop,Event,03/08/2024 11:30:00,Selam,10/14/2006,Female,Ethiopia,Lideta Catholic Cathedral School,Computer Science,03/11/2024 12:03:14,Team Allocated,1070,03/05/2024 17:10:41,03/08/2024 14:00:00
8554,03/06/2024 15:58:47,00000000-10GQ-RJHT-3G4S-BKGBY1,Freelance Mastery workshop,Event,03/08/2024 11:30:00,Gowri Sailesh,05/18/1999,Male,United States,SAINT LOUIS UNIVERSITY,Information Systems,03/11/2024 12:03:14,Team Allocated,1070,03/06/2024 18:22:11,03/08/2024 14:00:00
8555,02/29/2024 15:02:31,00000000-10GQ-RJHT-3G4S-BKGBY1,Freelance Mastery workshop,Event,03/08/2024 11:30:00,Abiola,03/16/1999,Male,Nigeria,Tai Solarin university of Education,Political Science,03/11/2024 12:03:14,Team Allocated,1070,02/29/2024 15:10:06,03/08/2024 14:00:00
8556,12/23/2023 03:53:12,00000000-10GQ-RJHT-3G4S-BKGBY1,Freelance Mastery workshop,Event,03/08/2024 11:30:00,venumadhavi,06/05/1997,Female,United States,Saint Louis University,Information Systems,03/11/2024 12:03:14,Team Allocated,1070,02/27/2024 06:48:47,03/08/2024 14:00:00
8557,06/01/2023 13:22:01,00000000-10GQ-RJHT-3G4S-BKGBY1,Freelance Mastery workshop,Event,03/08/2024 11:30:00,Prashanth Reddy,11/30/2000,Male,India,Saint Louis University,Artificial Intelligence,03/11/2024 12:03:14,Team Allocated,1070,02/16/2024 16:33:00,03/08/2024 14:00:00